* {
    margin: 0;
	padding: 0;
}

body {
    background-color: rgb(152, 193, 217);
}

header {
    background-color: rgb(41, 50, 66);
}

header h1 {
    color: rgb(238, 108, 77);
    padding: 20px;
    text-align: center;
}

header nav {
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin-bottom: 5px;
    padding: 13px;    
}

header nav ul li a {
    color: rgb(224, 251, 252);
}

header nav ul li:hover {
    background-color: #3D5A80;
    font-weight: bolder;
}

a {
    text-decoration: none;
}

main {
    margin: auto;
    width: 80%;
    color: #293241;
}

section {
    margin: 25px;
}

.articles-area {
    background-color: rgb(224, 251, 252);
    float: left;
    width: 70%;
    margin: 0;
    margin-top: 15px;
}

.article-title {
    margin: 10px 10px 10px 20px;
    color: rgb(238, 108, 77);
}

h3 {
    color: #EE6C4D;
    margin-bottom: 15px;
}

.facts {
    padding: 20px;
}

.sections-style ul li {
    list-style: none;
    margin-bottom: 5px;
}

img {
    width: 75%;
}

aside {
    margin-top: 15px;
    background-color: rgb(224, 251, 252);
    float: right;
    width: 27%;
}

footer {
    clear: both;
}