html {
    box-sizing: border-box;
    font-size: 100%;
 }
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
}

body {
    color: rgb(1, 42, 74);
    font-family: 'Noto Serif', serif;
}

header {
    align-items: center;
    background-color: rgb(44, 125, 160);
    display: flex;
    justify-content: center;
}

header h1 {
    color: rgb(1, 42, 74);
    font-family: Alice, serif;
    flex-basis: 400px;
    text-align: center;
    text-shadow: 1px 1px 2px #89C2D9;
}

header ul {
    display: none;
}

.container {
    background-color: rgb(169, 214, 229);
    padding: 30px;
}

aside {
    margin-bottom: 30px;
}

aside h2 {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

ul li {
    line-height: 22px;
    list-style: none;
}

.main-content {
    text-align: justify;
}

.title-container {
    line-height: 16px;
    text-align: center;
    font-family: Alice, serif;
    margin: 60px 0 30px 0;
}

footer {
    align-items: center;
    background-color: rgb(44, 125, 160);
    display: flex;
    flex-direction: column;
    padding: 15px;
}

footer h3 {
    font-size: 0.6em;
    margin: 10px;
}

footer p {
    font-size: 0.7em;
    margin-bottom: 15px;
    text-align: center;
}