body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: end;
}

ul {
    background-color: palegreen;
    line-height: 30px;
}

p {
    font-weight: 600;
    font-size: 3em;
    font-style: italic;

}

.cor-de-fundo {
    background-color: plum;
}

#yellow {
    text-decoration: underline;
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}